<link rel="stylesheet" href="{{ 'html_report/templates/base.css'|modulepath }}">
{% language company.party.lang and company.party.raw.lang.code or 'en' %}

<header id="header">
  <table>
  <tr>
    <td>{{ show_image("logo", company.render.logo) }}</td>
    <td>{{show_document_info(record) }}</td>
  </tr>
  <tr>
    <td>{{ show_company_info(company)}}</td>
    <td>{% if record.raw.party %}
      {% set party = record.party %}
      {% set address =  party.addresses and party.addresses[0] or None %}
      {{ show_party_info(party, party.tax_identifier, address, "", "") }}
    {% endif %}</td>
  </tr>
  </table>
</header>
{% endlanguage %}
