{% extends 'html_report/templates/base.html' %}
{% set production = record %}

{% block title %}
    {{ super() }}
    {{ label('production') }}
{% endblock %}

{% block main %}
  {% language company.party.lang and company.party.raw.lang.code or 'en' %}

    {% set production = record %}
    {%if record.raw.product %}
    <div class="center">
      <h1>{{label('production', 'product')}} : {{production.product.render.name }} </h1>
      <h2> {{label('production', 'quantity')}} : {{production.render.quantity }} {{production.uom.render.name}} </h2>
      {%if record.raw.route %}
        <h2> {{label('production', 'route')}} : {{production.route.render.name }} </h2>
      {%endif%}
    </div>
    {% endif %}

    <h2> {{label('production', 'outputs')}} </h2>
      {{ show_output_moves(production) }}

    <h2> {{label('production', 'inputs')}} </h2>
      {{ show_input_moves(production) }}


    {%if record.raw.route %}
      {{show_operation(record.operations)}}
    {%endif%}

  {% endlanguage %}
{% endblock %}
