{% set title = label(record.raw.__name__) %}

{% set document_date = record.raw.effective_date and record.render.effective_date or ''%}
{% set label_date = label(record.raw.__name__, 'effective_date') %}
{% set label_reference = label(record.raw.__name__, 'reference') %}

<h1 class="document">{{title}}:{{ record.raw.number and record.render.number }} <h1>
<h2 class="document">{{label_reference}}:{{ record.raw.reference }} </h2>
<h2 class="document">{{label_date}}:{{ document_date or '' }} </h2>
