{% extends 'html_report/report/base.html' %}
{% set invoice = record %}
{% set sale = invoice.sales[0] if invoice.sales else None %}

{% block title %}
    {{ super() }}
    {{ 'Invoice' }}
{% endblock %}

{% block custom_style %}
{{ super() }}
<style type="text/css">
@page {
    @right-bottom {
      content: "";
    }
}

{% if not invoice.raw.simplified %}
.invoice_info {
    border: 1px solid black;
    font-size: normal;
}

.invoice_info > th {
    border-collapse: collapse;
    text-align: center;
}

.party_info {
    border-left: 1px solid #ddd;
    font-size: x-small;
}

.logo {
    height: 2cm;
}

{% else %}
* {
    font-size: 18px;
}

.simplified {
    padding-left: 0px;
    margin-left: 0px;
}

.logo {
    width: 145px;
    height: 32px;
}

.section-divider {
  height: 0;
  border-top: 1px solid #DDD;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-divider > span {
  background: white;
  display: inline-block;
  position: relative;
  padding: 0 17px;
  top: -11px;
  font-size: 16dpx;
}
{% endif %}
</style>
{% endblock %}


{% block main %}
  {% set invoice = record %}
  {% if invoice.party and invoice.party.lang %}
    {% set lang = invoice.party.lang.raw.code %}
  {% elif user.language %}
    {% set lang = user.language.raw.code %}
  {% elif invoice.company.party.lang %}
    {% set lang = invoice.company.party.lang.raw.code %}
  {% else %}
    {% set lang = 'en' %}
  {% endif %}
  {% language lang %}
  {% if not invoice.raw.simplified %}
  <div class="container-fluid {% if not first %}page-break{% endif %}">
     {{ show_invoice_lines(invoice) }}  
    <div class="row">
      <div class="col-xs-6">
        {{ show_taxes(invoice) }}
      </div>
      <div class="col-xs-6">
         {{ show_totals(invoice) }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
          {{ show_invoice_extra_info(invoice) }}
      </div>
      <div class="col-xs-6">
          {{ show_due_dates(invoice) }}
      </div>
    </div>
  {% else %}
  <div class="container-fluid page-break">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        {% if record.shop.raw.logo %}
        <img class="logo" src={{ record.shop.render.logo }}>
        {% elif company.raw.logo is defined %}
        <img class="logo" src={{ company.render.logo }}>
        {% endif %}
      </div>
      <div class="col-xs-4">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-3 text-left simplified">
            {% if invoice.shop %}
            {{ 'AUDIOSON '}}{{ invoice.shop.render.name.upper() }}
            <br>
            {% endif %}
            {{ show_company_info(invoice) }}
        </div>
        <div class="col-xs-2 align-bottom text-right">
            {{ company.party.render.website.replace('https://', '') }}
        </div>
  </div>
  {{ simplified_hr() }}
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            <table style="width: 100%;">
                <tr>
                    <th>{{ 'Factura simplificada nº:'}}</th>
                    <th class="text-left">{{ 'Fecha' }}</th>
                    <th class="text-left">{{ 'Hora' }}</th>
                </tr>
                <tr>
                    <td>{{ invoice.render.number }}</td>
                    <td class="text-left">{{ time.strftime("%d/%m/%y") }}</td>
                    <td class="text-left">{{ time.strftime("%H:%M") }}</td>
                </tr>
                <tr>
                    <td>{{ 'Cliente: ' }}{{ invoice.render.party.code }}</td>
                </tr>
                <tr>
                    <td>{{ 'Atendido/a por: Empleado nº '}}{{ sale.employee.party.render.code if sale.employee else ''}}</td>
                </tr>
            </table>
        </div>
  </div>
  {{ simplified_hr() }}
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            {{ show_invoice_lines_simplified(invoice) }}
        </div>
  </div>
  {{ simplified_hr() }}
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            {{ show_totals(invoice) }}
        </div>
  </div>
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            {{ 'Forma pago'}}:
            <br>
            <table style="width: 100%;">
            {% for payment in sale.payments %}
                <tr>
                    <td>{{ payment.statement.journal.render.rec_name.split(' ')[0] }}</td>
                    <td>{{ payment.render.amount }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified text-center">
            {{ 'Plazo para cambio o devolución, 15 días desde la fecha del presente documento. Artículo y embalaje, deberán estar en perfectas condiciones.' }}
        </div>
  </div>
  <br>
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified text-center">
              <div class="section-divider">
                <span>{{ 'Gracias por su visita' }}</span>
                </div>
        </div>
  </div>
  {% endif %}
  {% endlanguage %}
{% endblock %}
