{% extends 'html_report/report/base.html' %}
{% set invoice = record %}
{% set sale = invoice.sales[0] if invoice.sales else None %}

{% block title %}
    {{ super() }}
    {{ 'Factura' }}
{% endblock %}

{% block custom_style %}
{{ super() }}
<style type="text/css">
@page {
    @right-bottom {
      content: "";
    }
}
{% if not invoice.raw.simplified %}
.invoice_info {
    border: 1px solid black;
}

.invoice_info > th {
    border-collapse: collapse;
    text-align: center;
}

.party_info {
    border-left: 1px solid #ddd;
    font-size: x-small;
}

.logo {
    height: 2cm;
}

{% else %}
* {
    font-size: 8px;
}

.simplified {
    padding-left: 0px;
    margin-left: 0px;
}

.logo {
    width: 145px;
    height: 32px;
}

.section-divider {
  height: 0;
  border-top: 1px solid #DDD;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-divider > span {
  background: white;
  display: inline-block;
  position: relative;
  padding: 0 17px;
  top: -11px;
  font-size: 12dpx;
}
{% endif %}
</style>
{% endblock %}

{% macro show_invoice_info(invoice) %}
    {% set tax_identifier = invoice.party_tax_identifier or invoice.party.tax_identifier %}
    <table style="width:100%;" class="invoice_info">
        <tr class="invoice_info">
            <th class="invoice_info">angel</th>
            <th class="invoice_info">{{ invoice.render.invoice_date }}</th>
            <th class="invoice_info"><strong>Nº Factura {% if invoice.raw.total_amount < 0 %}rectificativa{% endif %}: </strong>{{ invoice.render.number }}</th>
            <th class="invoice_info">{{ invoice.render.party.code }}</th>
            <th class="invoice_info">
            {% if tax_identifier %}
              {{ tax_identifier.render.code }}
            {% endif %}
            </th>
        </tr>
    </table>
{% endmacro %}

{% macro show_invoice_extra_info(invoice) %}
   {% if invoice.raw.payment_term %}
     <strong>{{ 'Plazo de pago' }}: </strong>{{ invoice.payment_term.render.name }}
     <br/>
   {% endif %}
   {% if invoice.payment_type %}
     <strong>{{ 'Tipo de pago' }}: </strong>{{ invoice.payment_type.render.name }}
     <br/>
   {% endif %}
   {% if invoice.bank_account %}
     <strong>{{ 'Cuenta bancaria' }}: </strong>{{ invoice.bank_account.render.rec_name }}
     {% if invoice.bank_account.bank.raw.bic %}
       ({{ invoice.bank_account.bank.render.bic }})
     {% endif %}
     <br/>
   {% endif %}
{% endmacro %}

{% macro show_company_info(invoice) %}
    {% set party = invoice.company.party %}
    {% set address = invoice.shop.address or party.addresses[0] %}
    {% set tax_identifier = invoice.tax_identifier or party.tax_identifier %}
    {{ party.render.rec_name }}
    <br>
    {% if tax_identifier %}
    {{ tax_identifier.render.code }}
    <br>
    {% endif %}
    {% if address %}
    {{ address.render.street }}
    <br>
    {{ address.render.zip }} {{ address.render.city|upper }}
    {% endif %}
    <br>
    {% if invoice.shop and invoice.shop.raw.phone %}
      {{ 'Teléfono' }}: {{ invoice.shop.render.phone }}
      <br>
    {% elif party.raw.phone %}
      {{ 'Teléfono' }}: {{ party.render.phone }}
      <br>
    {% endif %}
    {% if invoice.shop and invoice.shop.raw.email %}
      {{ 'E-mail' }}: {{ invoice.shop.render.email }}
      <br>
    {% elif party.raw.email %}
      {{ 'E-mail' }}: {{ party.render.email }}
      <br>
    {% endif %}
{% endmacro %}

{% macro show_party_info(invoice) %}
    {{ invoice.invoice_address.render.full_address }}
{% endmacro %}


{% macro show_due_dates(invoice) %}
    <strong><center>{{ 'Vencimientos' }}</center></strong>
    <table class="table borderless bottom2px">
      <tbody>
        {% for line in invoice.move.lines|rejectattr('raw.maturity_date', 'none')|sort(attribute='raw.maturity_date') %}
          {% if line.raw.maturity_date %}
          <tr>
            <td class="maturity_date-date">
              {{ line.render.maturity_date }}
            </td>
            <td class="text-right base-tax-padding">
              {{ (line.raw.debit - line.raw.credit) | render(digits=line.raw.currency_digits) }}
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
{% endmacro %}

{% macro show_taxes(invoice) %}
   <strong><center>{{ 'Impuestos' }}</center></strong>
   <table class="table borderless bottom2px">
     <thead>
       <th>{{ 'Base' }}</th>
       <th>{{ 'Impuesto' }}</th>
       <th class="text-right">{{ 'Importe' }}</th>
     </thead>
     <tbody>
       {% for tax in invoice.taxes %}
         <tr>
           <td class="base-tax-padding">
             {{ tax.render.base }}
           </td>
           <td class="base-tax-padding">
             {{ tax.render.description }}
           </td>
           <td class="base-tax-padding text-right">
             {{ tax.render.amount }}
           </td>
         </tr>
       {% endfor %}
     </tbody>
   </table>
{% endmacro %}

{% macro show_totals(invoice) %}
    <table class="table borderless bottom2px">
      <tr>
        <td class="text-right" style="width:100%;">
          {{ 'Base imponible' }}:
        </td>
        <td class="text-right">
          {{ invoice.render.untaxed_amount }}
        </td>
      </tr>
      <tr class="font-bold">
        <td class="text-right text12" style="width:100%;">
          {{ 'Total' }}:
        </td>
        <td class="text-right text12">
          {{ invoice.render.total_amount }}
        </td>
      </tr>
    </table>
{% endmacro %}

{% macro show_invoice_lines(document) %}
  <table class="table borderless bottom2px top2px">
    <thead>
      <th nowrap>{{ 'Código' }}</th>
      <th nowrap>{{ 'Descripción' }}</th>
      <th class="text-right" nowrap>{{ 'Cantidad' }}</th>
      <th class="text-right" nowrap>{{ 'Precio U.' }}</th>
      {% if document.raw.all_lines_untaxed %}
      <th class="text-right" nowrap>{{ 'Descuento' }}</th>
      {% else %}
      <th></th>
      {% endif %}
      <th class="text-right" nowrap>{{ 'Importe' }}</th>
    </thead>
    <tbody>
      {% for line in document.lines %}
        <tr>
          {% if line.raw.description %}
          <td></td>
          <td>{{ line.render.description }}</td>
          {% else %}
          <td>{{ line.product and line.product.render.code or '-' }}</td>
          <td>{{ line.product and line.product.render.name or '-' }}</td>
          {% endif %}
          <td class="text-right">{{ line.render.quantity }}</td>
          {% if line.raw.price_with_taxes %}
          <td class="text-right">{{ line.render.taxed_gross_unit_price}}</td>
          <td class="text-right">{{ ((line.raw.taxed_gross_unit_price or Decimal(0)) - (line.raw.taxed_unit_price or Decimal(0))) | render(line.raw.__class__.taxed_gross_unit_price.digits[1]) }}</td>
          <td class="text-right">{{ line.render.taxed_amount }}</td>
          {% else %}
          <td class="text-right">{{ line.render.unit_price }}</td>
	  <td></td>
          <td class="text-right">{{ line.render.amount }}</td>
          {% endif %}
        </tr>
      {% endfor %}
      <tr class="b-hide">
        <td colspan="6"></td>
      </tr>
    </tbody>
  </table>
{% endmacro %}

{% macro show_invoice_lines_simplified(document) %}

      <table style="width: 100%;">
      {% for line in document.lines %}
        <tr>
            <th class="simplified" colspan="6" >
                {{ line.product and line.product.render.name or line.render.description }}
            </th>
        </tr>
        <tr>
          <td class="simplified">{{ line.render.quantity }}</td>
          <td class="simplified">{{ 'x' }}</td>
          <td class="simplified">{{ line.render.taxed_gross_unit_price }}</td>
          <td class="simplified">{{ '-' }}</td>
          <td class="simplified">{{ ((line.raw.taxed_gross_unit_price or Decimal(0)) - (line.raw.taxed_unit_price or Decimal(0))) | render(line.raw.__class__.taxed_gross_unit_price.digits[1]) }}</td>
          <td class="simplified">{{ line.render.taxed_amount }}</td>
        </tr>
      {% endfor %}
    </table>

{% endmacro %}

{% macro simplified_hr() %}
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            <hr style="margin: 0px;">
        </div>
  </div>
{% endmacro %}

{% block main %}
  {% set invoice = record %}
  {% if invoice.party and invoice.party.lang %}
    {% set lang = invoice.party.lang.raw.code %}
  {% elif user.language %}
    {% set lang = user.language.raw.code %}
  {% elif invoice.company.party.lang %}
    {% set lang = invoice.company.party.lang.raw.code %}
  {% else %}
    {% set lang = 'en' %}
  {% endif %}
  {% language lang %}
  {% if not invoice.raw.simplified %}
  <div class="container-fluid {% if not first %}page-break{% endif %}">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-xs-6">
        {% if record.shop and record.shop.raw.logo %}
        <img class="logo" src={{ record.shop.render.logo }}>
        {% elif company.raw.logo is defined %}
        <img class="logo" src={{ company.render.logo }}>
        {% endif %}
      </div>
      <div class="col-xs-4">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table no-border">
          <tr style="border-bottom: 1px solid #ddd">
            <td class="party_info">
                <br>
                {{ show_company_info(invoice) }}
            </td>
            <td class="party_info" style="font-size:small;padding-left:38px;">
                <strong>{% if invoice.raw.type == 'in' %}{{ 'Proveedor' }}{% else %}{{ 'Cliente' }}{% endif %}</strong>
                </br>
                {{ show_party_info(invoice) }}
            </td>
          </tr>
        </table>
        {{ show_invoice_info(invoice) }}
      </div>
    </div>

     {{ show_invoice_lines(invoice) }}
    <div class="row">
      <div class="col-xs-6">
        {{ show_taxes(invoice) }}
      </div>
      <div class="col-xs-6">
         {{ show_totals(invoice) }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
          {{ show_invoice_extra_info(invoice) }}
      </div>
      <div class="col-xs-6">
          {{ show_due_dates(invoice) }}
      </div>
    </div>
  {% else %}
  <div class="container-fluid page-break">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        {% if record.shop.raw.logo %}
        <img class="logo" src={{ record.shop.render.logo }}>
        {% elif company.raw.logo is defined %}
        <img class="logo" src={{ company.render.logo }}>
        {% endif %}
      </div>
      <div class="col-xs-4">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-3 text-left simplified">
            {% if invoice.shop %}
            {{ 'AUDIOSON '}}{{ invoice.shop.render.name.upper() }}
            <br>
            {% endif %}
            {{ show_company_info(invoice) }}
        </div>
        <div class="col-xs-2 align-bottom text-right">
            {{ company.party.render.website.replace('https://', '') }}
        </div>
  </div>
  {{ simplified_hr() }}
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            <table style="width: 100%;">
                <tr>
                    <th>{{ 'Factura simplificada nº:'}}</th>
                    <th class="text-left">{{ 'Fecha' }}</th>
                    <th class="text-left">{{ 'Hora' }}</th>
                </tr>
                <tr>
                    <td>{{ invoice.render.number }}</td>
                    <td class="text-left">{{ time.strftime("%d/%m/%y") }}</td>
                    <td class="text-left">{{ time.strftime("%H:%M") }}</td>
                </tr>
                <tr>
                    <td>{{ 'Cliente: ' }}{{ invoice.render.party.code }}</td>
                </tr>
                <tr>
                    <td>{{ 'Atendido/a por: Empleado nº '}}{{ sale.employee.party.render.code if sale.employee else ''}}</td>
                </tr>
            </table>
        </div>
  </div>
  {{ simplified_hr() }}
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            {{ show_invoice_lines_simplified(invoice) }}
        </div>
  </div>
  {{ simplified_hr() }}
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            {{ show_totals(invoice) }}
        </div>
  </div>
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified">
            {{ 'Forma pago'}}:
            <br>
            <table style="width: 100%;">
            {% for payment in sale.payments %}
                <tr>
                    <td>{{ payment.statement.journal.render.rec_name.split(' ')[0] }}</td>
                    <td>{{ payment.render.amount }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified text-center">
            {{ 'Plazo para cambio o devolución, 15 días desde la fecha del presente documento. Artículo y embalaje, deberán estar en perfectas condiciones.' }}
        </div>
  </div>
  <br>
  <div class="container">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5 simplified text-center">
              <div class="section-divider">
                <span>{{ 'Gracias por su visita' }}</span>
                </div>
        </div>
  </div>
  {% endif %}
  {% endlanguage %}
{% endblock %}
