{% macro show_invoice_info(invoice) %}
    {% set tax_identifier = invoice.party_tax_identifier or invoice.party.tax_identifier %}
    <table style="width:100%;" class="invoice_info">
        <tr class="invoice_info">
            <th class="invoice_info">angel</th>
            <th class="invoice_info">{{ invoice.render.invoice_date }}</th>
            <th class="invoice_info"><strong>Nº Factura {% if invoice.raw.total_amount < 0 %}rectificativa{% endif %}: </strong>{{ invoice.render.number }}</th>
            <th class="invoice_info">{{ invoice.render.party.code }}</th>
            <th class="invoice_info">
            {% if tax_identifier %}
              {{ tax_identifier.render.code }}
            {% endif %}
            </th>
        </tr>
    </table>
{% endmacro %}
