{% if invoice.raw.payment_term %}
 <strong>{{ 'Plazo de pago' }}: </strong>{{ invoice.payment_term.render.name }}
 <br/>
{% endif %}
{% if invoice.payment_type %}
 <strong>{{ 'Tipo de pago' }}: </strong>{{ invoice.payment_type.render.name }}
 <br/>
{% endif %}
{% if invoice.bank_account %}
 <strong>{{ 'Cuenta bancaria' }}: </strong>{{ invoice.bank_account.render.rec_name }}
 {% if invoice.bank_account.bank.raw.bic %}
   ({{ invoice.bank_account.bank.render.bic }})
 {% endif %}
 <br/>
{% endif %}
