{% extends 'html_report/templates/base.html' %}
{% set invoice = record %}

{% block title %}
  {% language invoice.party.lang and invoice.party.raw.lang.code or company.party.lang and company.party.raw.lang.code or 'en' %}
    {{ super() }}
    {{ label('account.invoice') }}
  {% endlanguage %}
{% endblock %}

{% block main %}
{% language invoice.party.lang and invoice.party.raw.lang.code or company.party.lang and company.party.raw.lang.code or 'en' %}

  {% set invoice = record %}
  {{ show_invoice_lines(invoice) }}

  {% if invoice.raw.comment %}
    <h4>{{ label('account.invoice', 'comment') }}</h4>
    <p>{{ invoice.render.comment }}</p>
  {% endif %}
{% endlanguage %}
{% endblock %}
