{% extends 'html_report/templates/base.html' %}
{% set invoice = record %}

{% block title %}
    {{ super() }}
    {{ _('Invoice') }}
{% endblock %}

{% block main %}
  {% set invoice = record %}
  {% language invoice.party.lang and invoice.party.raw.lang.code or company.party.lang and company.party.raw.lang.code or 'en' %}

  <tr><td colspan="0">{{ show_invoice_lines(invoice) }}</td></tr>
  <tr><td>
    <table>
      <tr>
        <td> {{ show_payment_info(invoice) }} </td>
        <td></td>
        <td> {{ show_totals(invoice) }}</td>
      </tr>
    </table>
    </td></tr>
  <tr>
    <table>
      <tr>
        <td> {{ show_taxes(invoice) }} </td>
        <td></td>
        <td> {{ show_due_dates(invoice) }} </td>
      </tr>
    </table>
  </tr>

  {% endlanguage %}
{% endblock %}
