 <link rel="stylesheet" href="{{ 'html_report/templates/base.css'|modulepath }}">

 <style>
 last-footer {
   position: fixed;
   width: 16cm;
   bottom: 0;
   padding: 0.1cm;
   margin-left: 2cm;
   margin-right: 2cm;
   margin-bottom: 2cm;
 }
 </style>

{% language record.party.lang and record.party.raw.lang.code or record.company.party.lang and record.company.party.raw.lang.code or 'en' %}
<last-footer id="last-footer" align="center">
   <table id="totals" class="condensed">
     <tr>
      <td>{{ show_taxes(record) }}</td>
      <td class="right">{{ show_totals(record) }}</td>
     </tr>
     <tr>
       <td>
         {{ show_payment_info(record) }}
       </td>
       <td>
         {{ show_due_dates(record) }}
       </td>
     </tr>
   </table>
</last-footer>
{% endlanguage %}
