{% if invoice.raw.payment_term %}
 <strong>{{ _('Payment term') }}: </strong>{{ invoice.payment_term.render.name }}
 <br/>
{% endif %}
{% if invoice.payment_type %}
 <strong>{{ _('Payment Type') }}: </strong>{{ invoice.payment_type.render.name }}
 <br/>
{% endif %}
{% if invoice.bank_account %}
 <strong>{{ _('Bank Account') }}: </strong>{{ invoice.bank_account.render.rec_name }}
 {% if invoice.bank_account.bank.raw.bic %}
   ({{ invoice.bank_account.bank.render.bic }})
 {% endif %}
 <br/>
{% endif %}
