 {% if invoice.taxes %}<strong><center>{{ _('Taxes') }}</center></strong>
 <table class="table borderless bottom2px">
   <thead>
     <th>{{ _('Base') }}</th>
     <th>{{ _('Tax') }}</th>
     <th class="text-right">{{ _('Total') }}</th>
   </thead>
   <tbody>
     {% for tax in invoice.taxes %}
       <tr>
         <td class="base-tax-padding">
           {{ tax.render.base }}
         </td>
         <td class="base-tax-padding">
           {{ tax.render.description }}
         </td>
         <td class="base-tax-padding text-right">
           {{ tax.render.amount }}
         </td>
       </tr>
     {% endfor %}
   </tbody>
 </table>{% endif %}
