 {% if invoice.taxes %}
  <center><strong>{{ label('account.invoice', 'taxes') }}</strong></center>
  <table class="condensed">
   <thead>
     <th>{{ label('account.invoice.tax', 'description') }}</th>
     <th class="text-right">{{ label('account.invoice.tax', 'base') }}</th>
     <th class="text-right">{{ label('account.invoice.tax', 'amount') }}</th>
   </thead>
   <tbody class="border">

     {% for tax in invoice.taxes %}
       <tr>
          <td>
           {{ tax.render.description }}
         </td>
         <td class="text-right">
           {{ tax.render.base }} {{ tax.invoice.currency.render.symbol }}
         </td>
         <td class="text-right">
           {{ tax.render.amount }} {{ tax.invoice.currency.render.symbol }}
         </td>
       </tr>
       {% if tax.raw.legal_notice %}
          <tr>
            <td></td>
            <td>
            <strong>{{ label('account.tax', 'legal_notice') }}</strong>
              {{ tax.render.legal_notice }}
            </td>
            <td></td>
          </tr>
      {% endif %}
     {% endfor %}
   </tbody>
 </table>




{% endif %}
