{% set company_party = record.company.party %}
{% for line in company_party.addresses[0].raw.full_address.split('\n') %}
  {{ line }}<br/>
{% endfor %}
{% if company_party.tax_identifier %}{{ company_party.render.tax_identifier.code }}<br/>{% endif %}
{% if company_party.raw.phone %}
  <br/>{{ _('Phone') }}: {{ company_party.render.phone }}
{% endif %}
{% if company_party.raw.fax %}
  <br/>{{ _('Fax') }}: {{ company_party.render.fax }}
{% endif %}
{% if company_party.raw.email %}
  <br/>{{ _('Email') }}: {{ company_party.render.email }}
{% endif %}
