{{party.render.name}}
<br>
{% if tax_identifier %}
  {{ tax_identifier.render.code }}
  <br>
{% endif %}
{% if address.raw.name %}
  {{ address.render.name}} <br>
{% endif %}
{{ address.render.street }} <br>
{{ address.render.zip }} {{ address.render.city}}<br>
{{ address.render.city}} <br>
{{ address.country.render.name}} <br>
<br>
{{ label('party.party', 'phone') }}: {{ party.render.phone }}
<br>
{% if party.raw.email %}
{{ label('party.party', 'email') }}: {{ party.render.email }}
<br>
{% endif %}
<br>
{% if second_address and second_address.raw.id != address.raw.id %}
  <strong> {{ second_address_label }}</strong>
  <br/>
  {{ second_address.render.full_address }}
{%endif%}
