{% if party %}
  {{ party.render.name }}
  <br>
  {% if tax_identifier %}
    {{ tax_identifier.render.code }}
    <br>
  {% endif %}
  {% if address %}
    {{ address.render.full_address | replace("\n", "<br/>") }}
  {% endif %}
  <br>
  {% if party.raw.phone %}
  {{ label('party.party', 'phone') }}: {{ party.render.phone }}
  <br>
  {% endif %}
  {% if party.raw.email %}
  {{ label('party.party', 'email') }}: {{ party.render.email }}
  <br>
  {% endif %}
  {% if second_address and second_address.raw.id != address.raw.id %}
    {% if second_address_label %}
    <strong> {{ second_address_label }}</strong>
    <br/>
    {% endif %}
    {{ second_address.render.full_address | replace("\n", "<br/>") }}
  {% endif %}
{% endif %}
