<table id="totals">
  <tr>
    <th class="text-center upper">{{ label(record.raw.__name__, 'untaxed_amount') }}</th>
    <th class="text-center upper">{{ label(record.raw.__name__, 'tax_amount') }}</th>
    <th class="text-center upper">{{ label(record.raw.__name__, 'total_amount') }}</th>
  </tr>
  <tr>
    <td class="text-center">{{ record.render.untaxed_amount }} {{record.currency.render.symbol}}</td>
    <td class="text-center">{{ record.render.tax_amount }} {{record.currency.render.symbol}}</td>
    <td class="text-center">{{ record.render.total_amount }} {{record.currency.render.symbol}}</td>
  </tr>
  <tr>
</table>
