<table style="width:200px">
  <tr>
    <th scope="row" class="text-right"> {{ label(record.raw.__name__, 'untaxed_amount') }}: </th>
    <td class="text-right"> {{ record.render.untaxed_amount }} </td>
  </tr>
  <tr>
    <th scope="row" class="text-right">{{ label(record.raw.__name__, 'tax_amount') }}:</th>
    <td class="text-right"> {{ record.render.tax_amount }} </td>
  </tr>
  <tr>
    <th scope="row" class="text-right">{{ label(record.raw.__name__, 'total_amount') }}:</th>
    <td class="text-right"> {{ record.render.total_amount }} </td>
  </tr>
</table>
