{% if record.raw.state in ('quotation', 'draft') %}
  {% set title = record.render.state %}
{% else %}
  {% set title = label(record.raw.__name__) %}
{%endif%}

{% set document_date = record.raw.purchase_date and record.render.purchase_date or ''%}
{% set label_date = label(record.raw.__name__, 'purchase_date') %}


<h1 class="document">{{title}}:{{ record.raw.number and record.render.number }} <h1>
<h2 class="document">{{label_date}}:{{ document_date }} </h2>
{% if record.raw.reference %}
  <h2 class="document">{{ label(record.raw.__name__, 'reference') }}:{{ record.raw.reference and record.render.reference }} </h2>
{% endif %}
