{% extends 'html_report/templates/base.html' %}
{% set purchase = record %}

{% block title %}
    {{ super() }}
    {{ label('purchase.purchase') }}
{% endblock %}

{% block main %}
  {% set purchase = record %}
  {% language purchase.party.lang and purchase.party.raw.lang.code or company.party.lang and company.party.raw.lang.code or 'en' %}
  {{ show_purchase_lines(purchase) }}

    <table class="condensed">
        <tr>
          <td> {{ show_payment_info(purchase) }} </td>
          <td> {{ show_totals(record) }}</td>
        </tr>
    </table>

{% if purchase.raw.comment %}
<strong>{{label('purchase.purchase', 'comment')}}</strong>
<br>
{{purchase.render.comment}}
{% endif %}


{% endlanguage %}
{% endblock %}
