{% extends 'html_report/templates/base.html' %}
{% set shipment = record %}

{% block title %}
    {{ super() }}
    {{ label('stock.shipment.out') }}
{% endblock %}

{% block main %}
  {% language shipment.customer.lang and shipment.customer.raw.lang.code or company.party.lang and company.party.raw.lang.code or 'en' %}

    {% set shipment = record %}
    {% set valued = False %}
    {{ show_picking_moves(shipment.inventory_moves or shipment.outgoing_moves, shipment.raw.show_lots,  'from') }}

  {% endlanguage %}

{% endblock %}
