{% extends 'html_report/templates/base.html' %}
{% set shipment = record %}

{% block title %}
    {{ super() }}
    {{ label('stock.shipment.out') }}
{% endblock %}

{% block main %}
  {% language shipment.customer.lang and shipment.customer.raw.lang.code or company.party.lang and company.party.raw.lang.code or 'en' %}

    {% set shipment = record %}
    {% set valued = True %}
    {{ show_stock_moves(shipment, valued) }}

    <div class="right">
    {{show_totals(shipment)}}
    </div>

  {% endlanguage %}
{% endblock %}
