<link rel="stylesheet" href="{{ 'html_report/templates/base.css'|modulepath }}">
{% set party = record.party %}
{% language party and party.raw.lang and party.lang.raw.code or company.party.lang and company.party.raw.lang.code or 'en' %}

<header id="header">
<table>
  <tr>
    <td>{{ show_image("logo", company.render.logo) }}</td>
    <td>{{ show_document_info(record) }}</td>
</tr>
<tr>
  <td>{{ show_company_info(company) }}</td>
  <td>
    {% set second_address_label = label(record.raw.__name__, 'shipment_address' ) %}
    {{ show_party_info(party, party.tax_identifier, record.invoice_address, second_address_label, record.shipment_address) }}
  </td>
</tr>
</table>
{% endlanguage %}
