{% extends 'html_report/templates/base.html' %}

{% set sale = record %}

{% block title %}
    {{ super() }}
    {{ label('sale.sale') }}
{% endblock %}

{% block main %}
  {% set sale = record %}
  {% language sale.party.lang and sale.party.raw.lang.code or company.party.lang and company.party.raw.lang.code or 'en' %}

  {{ show_sale_lines(sale) }}

  {% if sale.raw.comment %}
    <h4>{{ label('sale.sale', 'comment') }}</h4>
    <p>{{ sale.render.comment }}</p>
  {% endif %}
{% endlanguage %}
{% endblock %}
