{% extends 'html_report/templates/base.html' %}
{% set sale = record %}

{% block title %}
    {{ super() }}
    {{ label('sale.sale') }}
{% endblock %}

{% block main %}
  {% set sale = record %}
  {% language sale.party.lang and sale.party.raw.lang.code or company.party.lang and company.party.raw.lang.code or 'en' %}
  {{ show_sale_lines(sale) }}

    <table class="condensed">
        <tr>
          <td> {{ show_payment_info(sale) }} </td>
          <td> {{ show_totals(record) }}</td>
        </tr>
    </table>

{% if sale.raw.comment %}
<strong>{{label('sale.sale', 'comment')}}</strong>
<br>
{{sale.render.comment}}
{% endif %}


{% endlanguage %}
{% endblock %}
