<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="Nantic">
    {% if report.raw.extension == 'html' %}
    <link href="{{ 'html_report/templates/base.css'|base64 }}" rel="stylesheet" type="text/css">
    {% else %}
    <link href="{{ 'html_report/templates/base.css'|modulepath }}" rel="stylesheet" type="text/css">
    {% endif %}
    <style>{% block styles %}{% endblock %}</style>
  </head>

  <body id="base" class="main-report">
    {% block body %}
    {% block main scoped %}

    {% block company_header scoped %}
    {% endblock company_header %}

    {% block report_body scoped %}
    {% endblock report_body %}

    {% block report_footer scoped %}
    {% endblock report_footer %}

    {% endblock main %}
    {% endblock body %}
  </body>
</html>
