@page {
  size: A4;
  @top-left {
    content: "";
  }
  @top-right {
    content: "";
  }
  @bottom-right {
    content: counter(page) " / " counter(pages);
    text-align: right;
    font-family: 'Arial'
    bottom:0;
    font-size: 9px;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
  size: A4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1cm;
    padding-left: 2.0cm;
    text-align: left;
    font-size: 9px;
    width: 100%;
    font-family: 'Arial';
}
.logo {
    width: auto;
    height: 50px;

}


body {
  font-family: 'Arial';
  font-size: 10px;
  /* margin-right: 1.3cm;
  padding-bottom: 2cm; */
}

h1 {
  margin:0.05em;
  padding:0.0em;
}

tbody tr {
  page-break-inside: avoid;
}

table.border td {
  border: 1px solid grey;
}

table {
  width: 100%;
  padding: 0;
  margin:0;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse:collapse;
}

table.tr {
margin-left: 0;
margin-right: 0;
padding: 0.75rem;

}

/* tbody tr border {
  border-bottom: 1px solid #dee2e6;
} */

table td {
  padding: 0.25rem;
  margin-left: 0;
  margin-right: 0;
  vertical-align: top;
}

table thead th {
  padding: 0.25rem;
  vertical-align: bottom;
  margin-left: 0;
  margin-right: 0;
}

table tbody.border  {
  border-top: 2px solid #dee2e6;
  margin-left: 0;
  margin-right: 0;
  padding: 1px;
}

.text-right {
  text-align: right;
}

th.sub_header{
  padding: 0.25rem;
  vertical-align: top;
  border-bottom: 1px solid #dee2e6;
  border-collapse:separate;
  column-span:all;
}

.table-striped tbody tr:nth-of-type(odd) {
 background-color: rgba(0, 0, 0, 0.05);
}

table.condensed tr,td,th{
  padding: 0;
}

h1.document{
  font-size: 14px;
  padding:0;
  margin:0;
}
h2.document{
  font-size: 12px;
  padding:0;
  margin:0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0.5cm;
  text-align: center;
  font-size: 9px;
}

.right {
  float:right;
}

td.hide {
  display:none;
  margin:0;
  padding:0;
  border:0;
}
