<link rel="stylesheet" href="{{ 'html_report/templates/base.css'|modulepath }}">
<header id="header">
    <table>
      <tr>
          <td>
          {% block company_logo scoped %}
          {% endblock company_logo %}
          </td>
      <td>
          {% block document_info scoped %}
          {% endblock document_info %}
      </td>

      </tr>
      <tr>
        <td class="party_info">
            {% block company_info scoped %}
            {% endblock company_info %}
          </td>
          <td class="party_info">
              {% block party_info scoped %}
              {% endblock party_info %}
          </td>
        </tr>
    </table>
</header>
